#navbarMain{
    background-color: indigo !important;
}
#btnSearch{
    color: yellow;
    outline-style: outset;
}
#btnSearch:hover{
color: indigo;
background-color: yellow;
}
#login{
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}
#test{
    /* background-color: aquamarine; */
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
#carte{
    margin: auto;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}
#pp{
    border: 2px solid rgb(0, 0, 0);
}
#info{
    float: right;
}
#topique{
    margin-top: 3%;
    margin-right: 3%;
}
.imgP{
    height: 50px;
    border-radius: 50%;
    float: right;
}
.form-control{
    margin-bottom: 2.5% !important;
    margin-top: 2.5% !important;
    
}
.creer{
    margin-top: 10% !important;
}
#Picture{
    /* height: 1000px;
    width: 1000px; */
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
#testImg{
    max-width: 200px;
    max-height: 200px;
    vertical-align: middle;
    display: flex;
}
.imageJeu{
    max-width: 500px;
}